body {
  background-color: #F7ECDE;
}
hr {
  background-color: #F7ECDE;
  border-style: none;
  border-top-style: dotted;
  border-color: #3C2317;
  border-width: 8px;
  width: 5%;
}
img {
  height: 200px;
}
h1 {
  color: #18978F;
}
h3 {
  color: #18978F;
}
